<div class="top_header_tool">
  <div class="full_column">
    <div class="column_left">
      <div class="black_box">

      </div>
    </div>
    <div class="column_right">
      <ul>
        <li>
          <a href="">
            <span>
              <img src="./assets/img/is.png" alt="">
            </span>
          </a>
        </li>
        <li>
          <a href="">
             <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <rect x="0.5" y="0.5" width="6.85714" height="14" rx="0.5" stroke="#656565"/>
                <rect x="7.64283" y="0.5" width="6.85714" height="14" rx="0.5" stroke="#656565"/>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
